body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#board {
  /* background-color: skyblue; */
  background-image: url("./images/cave-bkground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div.gameover {
  display: none;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24.2rem 19rem;
}
